body {
    margin: 0;
    padding: 0;
    background: brown;
}
h2 {
    font-size: 50px;
    background: yellow;
    padding: 20px;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.section {
    background: blue;
    text-align: center;
    font-size: 70px;
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px;
}
